/* .text-input {
  background: transparent;
  border-color: transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  transition: all 0.8s;
}

.text-input:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
  border-bottom: 1px solid rgb(223, 29, 29);
}


.label {
  color: #777;
  display: block;
  margin-top: -70px;
  margin-left: 4px;
  font-size: 13px;
  transition: all 0.3s;
}

.input:placeholder-shown + .label {
  transform: translate(20px, 20px);
  opacity: 0;
  visibility: hidden;
}

.my-text-input {
  background: transparent;
  border-color: transparent;
  border-left: 1px solid #ccc;
  border-radius: 0;
  transition: all 0.8s;
}

.my-text-input:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
  border-left: 1px solid rgb(223, 29, 29);
}

.my-label-text {
  color: #777;
  display: block;
  margin-top: -120px;
  margin-left: 4px;
  font-size: 13px;
  transition: all 0.3s;
}

.my-text-input:placeholder-shown + .my-label-text {
  transform: translate(20px, 20px);
  opacity: 0;
  visibility: hidden;
} */

.submit-button {
  background-color: var(--color-primary);
  border-radius: 15px;
  transition: all 0.2s;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
}

.submit-button:hover {
  transform: translateY(-2px);
  box-shadow: var(--button-shadow);
}

.text-input {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  transition: all 0.8s;
}
