.footer-small-text {
  color: var(--color-secondary);
  font-size: 1.2rem;
}

h4,
.footer-email,
.social-icons {
  color: var(--color-primary);
}

.footer-link {
  color: var(--color-secondary);
  font-size: 1.2rem;
  transition: all 0.3s;
}

.footer-link:hover {
  color: var(--color-primary);
  text-decoration: none;
}
