/* collection */
.card-shadow {
  box-shadow: var(--shadow-light);
}

.heading {
  position: absolute;
  bottom: 1%;
  right: 0;
  width: 50%;
  font-size: 1.7rem;
  background-color: var(--color-primary);
  opacity: 0.7;
  text-align: center;
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  line-height: 0.8;
}

/* .collection-card:hover {
  opacity: 0.7;
  transition: all 0.5s;
  cursor: pointer;
} */
