/* collection */
.card-shadow {
  box-shadow: 5px 8px 20px #444;
}

.heading {
  position: absolute;
  bottom: 0%;
  right: 0;
  letter-spacing: 1px;
  background: #222;
  width: 60%;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s;
  font-size: 2rem;
  color: var(--color-primary);
}

.heading:hover {
  opacity: 1;
}
