.carousel-image-cropper {
  width: 15rem;
  height: 15rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
}
.carousel-profile-pic {
  /* display: inline;
  margin: 0 auto; */
  margin-left: -25%;
  height: 100%;
  width: auto;
}
