.nav-menu {
  background: linear-gradient(rgba(11, 27, 37, 0.5), rgba(11, 27, 37, 0.8));
  padding: 1rem;
  transition: all 0.7s;
}

.menu-item {
  font-size: 1.5rem;
  font-weight: 350;
  color: #eee;
  transition: color 0.5s;
  text-transform: uppercase;
}

.menu-item:hover {
  color: var(--color-primary);
}

.nav-active {
  color: var(--color-primary);
}

.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
  background-color: var(--color-primary);
}

.change-line1 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: var(--color-primary);
}

.change-line2 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
  opacity: 0;
}

.change-line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: var(--color-primary);
}

.studio-title-nav {
  font-family: "Allura", cursive;
  font-size: 3rem;
  color: var(--color-primary);
}

.nav-button,
.nav-button:focus {
  outline: none;
  border: none;
}
