:root {
  --color-primary: #bb8e12;
  --color-secondary: #0b1b25;

  --color-grey-dark: #777777;
  --color-grey-light: #f0eeee;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #151f20;
  --color-grey-dark-2: #777777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem #0000004d;
  --shadow-light: 0 2rem 2rem #444;
  --button-shadow: 0.3rem 0.3rem 1rem #444;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem=10px 10px/16px(default)=0.625 = 62.5% */
}
body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.7;
}

p {
  font-size: 2rem;
}

.mission,
.customers,
.contact {
  background: var(--color-secondary);
}
