:root {
  --color-primary: rgb(187, 142, 18);
  /* --color-secondary: rgb(16, 29, 44); */
  --color-secondary: rgb(11, 27, 37);

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #151f20;
  --color-grey-dark-2: rgb(119, 119, 119);
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 4rem #444;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem=10px 10px/16px(default)=0.625 = 62.5% */
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

p {
  font-size: 2rem;
}

.nav-menu {
  background: linear-gradient(rgba(11, 27, 37, 0.5), rgba(11, 27, 37, 0.8));
  padding: 30px;
  transition: all 0.7s;
}

.menu-item {
  font-size: 1.5rem;
  font-weight: 350;
  color: #eee;
  transition: color 0.5s;
  text-transform: uppercase;
}

.menu-item:hover {
  color: var(--color-primary);
}

.nav-active {
  color: var(--color-primary);
}

.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
}

.change-line1 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change-line2 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
  opacity: 0;
}

.change-line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  padding: 5px 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}

.mission,
.customers,
.contact {
  background: var(--color-secondary);
}
